* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons-list {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.active-butt {
  background-color: #db1c48;
  color: #ffffff;
  border-radius: 10px;
  border-style: none;
}

.not-active-butt {
  background-color: transparent;
  color: #db1c48;
  border-radius: 10px;
  border: 1px solid #db1c48;
}

.lan-pic {
  width: 30%;
}
